/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h2 {
  background-color: #fff;
  font-size: 5rem;
  height: 7rem;
  margin: 0;
  width: 20rem;
}

button {
width: 8rem;
height:4rem;
font-size: 3rem;
}